<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>canvas</title>
</head>
<body>
    <canvas id="myCanvas" width="200" height="200"></canvas>
    <script type="text/javascript">
    var c=document.getElementById("myCanvas");
    var cxt=c.getContext("2d");
    cxt.fillStyle="#FF0000";
    cxt.fillRect(0,0,150,75);
    </script>

    <canvas id="myCanvas1" width="200" height="100" style="border:1px solid #c3c3c3;">
    Your browser does not support the canvas element.
    </canvas>
    <script type="text/javascript">
    var c=document.getElementById("myCanvas1");
    var cxt=c.getContext("2d");
    var img=new Image();
    img.src="static/img/eg_flower.png";
    cxt.drawImage(img,0,0);
    </script>

</body>
</html>